html {
  color: #320c59;
  background-color: #ffccb3;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

h1 {
  background-color: #b3e6ff;
  padding: 5px;
  width: 75%;
  text-align: center;
  border: 2px solid rebeccapurple;
  border-radius: 5px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 10px;
}

li {
  margin: 5px;
  margin-left: 25px;
  padding: 5px;
}

.ingredients,
.preparation {
  border-radius: 5px;
}

.ingredients {
  border: 2px solid #c98792;
  background-color: #ffb3c0;
}

.ingredients h2 {
  padding: 0;
  margin: 0px auto;
  background-color: #eb8899;
}

.preparation {
  border: 2px solid #bfb47e;
  background-color: #fff2b3;
}

.preparation h2 {
  padding: 0px;
  margin: 0px auto;
  background-color: #f0dd81;
}

.recipe-list {
  width: 50%;
  padding: 10px;
  font-weight: bold;
  background-color: #fff2b3;
  border: 2px solid #bfb47e;
  border-radius: 5px;
}

.recipe-list a {
  display: inline-block;
  padding: 2px 5px;
}
.recipe-list a:hover {
  background-color: #b8a781;
}

.recipe-image {
  display: block;
  height: 500px;
  width: auto;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #bfb47e;
  background-color: #fff2b3;
  border-radius: 5px;
}
