html {
  background-color: #ffccb3;
  font-family: "Arial", sans-serif;
}

h1 {
  background-color: #B3E6FF;
}

h2 {
  text-align: center;
}

.ingredients {
  background-color: #FFB3C0;
}

.preparation {
  background-color: #FFF2B3;
}

.recipe-list {
  font-weight: bold;
  background-color: #FFF2B3;
}

.recipe-image {
  height: 500px;
  width: auto;
}
